html, body {
    /* height: 100%; */
}

.righteous {
  font-family: 'Righteous', cursive;  
}

a:hover {
    color: #bf93c4;
}

body {
    background-image: url('../images/texture_spots_purple.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 1080px;
    /* height: 100%; */
    font-family: 'Raleway', sans-serif;
}

.white-font {
    color: #fbf2fc;
}

.violet {
    color: #bf93c4;
}

.me {
    border-radius: 100%;
    margin: 40px 0px;
    width: 20%;
    display: block;
    margin: 50px auto;
}

.level-item {
    border: solid 1px #bf93c4;
    border-radius: 10px;
    padding: 3px;
    max-width: 150px;
}

.links {
    margin-top: 40px;
}
.project-image {
    width: 90%;
    margin: auto;
    display: block;
    border: solid #bf93c4 1px;
}

.project-div {
    margin: 50px 0;
    border: solid 1px white;
    min-height: 250px;
}

.project-pad {
    padding-left: 40px;
    padding-right: 40px;
}