/* html, body {
    height: 100%;
} */

.righteous {
  font-family: 'Righteous', cursive;  
}

a:hover {
    color: #bf93c4;
}

.section {
    padding-bottom: 130px;
}

body {
    background-image: url('../images/texture_spots_purple.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 1100;
    /* height: 100%; */
    font-family: 'Raleway', sans-serif;
}

.white-font {
    color: #fbf2fc;
}

.violet {
    color: #bf93c4;
}

.me {
    border-radius: 100%;
    /* margin: 60px 0px; */
    width: 20%;
    display: block;
    margin: 50px auto;
}

.img-div {
    margin-top: 2em;
}

.level-item {
    border: solid 1px #bf93c4;
    border-radius: 10px;
    padding: 3px;
    max-width: 150px;
}

.links {
    margin-top: 40px;
}
.project-image {
    width: 90%;
    margin: auto;
    display: block;
    border: solid #bf93c4 1px;
}

.project-div {
    margin: 50px auto;
    /* border: solid 1px white; */
    min-height: 250px;
}

.project-pad {
    padding-left: 40px;
    padding-right: 40px;
}

.project-title {
    border-bottom: 1px solid white;
}

.foot {
    height: 80px;
    border-top: 1px white solid;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: small;
}